<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавление товара</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link th:href="@{/css/index.css}" type="text/css" rel="stylesheet">
</head>
<body>
<header>

    <div class="label">
        <p id ="label">HobbyModels<br> <span id="head" style=""> Магазин масштабных моделей</span></p>
    </div>
</header>
<h3>Добавление товара</h3>
<div class="menu">
<form th:method="POST" th:action="@{/admin/product/add}" th:object="${product}" enctype="multipart/form-data">
    <label for="title">Введите наименование: </label>
    <input type="text" th:field="*{title}" placeholder="Наименование" id="title">
    <div style="color: red" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>
    <br>
    <br>
    <label for="description">Введите описание: </label>
    <textarea th:field="*{description}" placeholder="Описание" id="description"></textarea>
    <div style="color: red" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></div>
    <br>
    <br>
    <label for="price">Введите цену: </label>
    <input type="number" th:field="*{price}" min="1" step="0.00" id="price">
    <div style="color: red" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></div>
    <br>
    <br>
    <label for="warehouse">Введите информацию о складе: </label>
    <input type="text" th:field="*{warehouse}" placeholder="Склад" id="warehouse">
    <div style="color: red" th:if="${#fields.hasErrors('warehouse')}" th:errors="*{warehouse}"></div>
    <br>
    <br>
    <label for="category">Выберите категорию масштаба товара:  </label>
    <select name="category" th:field="*{category}" id="category">
        <div th:each="element : ${category}">
            <option th:text="${element.getName()}" th:value="${element.getId()}"></option>
<!--            <option th:text="${element.getName()}" th:value="${element.getId()}"></optional>-->
        </div>
    </select>
    <br>
    <br>
    <label for="seller">Введите данные о продавце: </label>
    <textarea th:field="*{seller}" placeholder="Продавец" id="seller"></textarea>
    <div style="color: red" th:if="${#fields.hasErrors('seller')}" th:errors="*{seller}"></div>
    <br>
    <br>
    <p style="color: black">Вы можете добавить до 5 фотографий. Первая фотография не может быть пустой</p>

     <label for="imageList">Первая фотография: </label>
     <input type="file" name="file_one" id ="imageList" class="btnRegistration">
     <div style="color: red" th:if="${#fields.hasErrors('imageList')}" th:errors="*{imageList}"></div>
   <input type="file" name="file_two"class="btnRegistration">
    <input type="file" name="file_three"class="btnRegistration">
    <input type="file" name="file_four"class="btnRegistration">
    <input type="file" name="file_five"class="btnRegistration">
    <br>
    <button type="button" class="btn btn-secondary"><input type="submit" value="Добавить"class="btnRegistration"></button>
</form>
</div>
<footer>
    <div class="footLabel">
        <p id ="foot">HobbyModels</p>
    </div>
    <div>


    </div>
    <div class="footInfo">
        <p>Все товарные знаки и логотипы являются исключительной собственностью их владельцев. Товарные знаки и логотипы воспроизведены для информации и исторической достоверности моделей. Их использование на сайте и на моделях не является рекламой и не преследует коммерческих целей.</p>
    </div>

</footer>
</body>
</html>