<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Информация о товаре</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link th:href="@{/css/index.css}" type="text/css" rel="stylesheet">
</head>

<body>
<header>

    <div class="label">
        <p id ="label">HobbyModels<br> <span id="head" style=""> Магазин масштабных моделей</span></p>
    </div>
</header>
<div class="goods">
    <div class="curgoods">
    <p th:text="'Наименование: ' + ${product.getTitle()}"></p>
    <p th:text="'Описание: ' + ${product.getDescription()}"></p>
    <p th:text="'Цена: ' + ${product.getPrice()}"></p>
    <p th:text="'Склад: ' + ${product.getWarehouse()}"></p>
    <p th:text="'Продавец: ' + ${product.getSeller()}"></p>
    <p th:text="'Категория: ' + ${product.getCategory().getName()}"></p>
    <div th:each="img : ${product.getImageList()}">
        <img th:src="'/img/' + ${img.getFileName()}" width="300px">
    </div>
</div>
</div>
<footer>
    <div class="footLabel">
        <p id ="foot">HobbyModels</p>
    </div>
    <div>

    </div>
    <div class="footInfo">
        <p>Все товарные знаки и логотипы являются исключительной собственностью их владельцев. Товарные знаки и логотипы воспроизведены для информации и исторической достоверности моделей. Их использование на сайте и на моделях не является рекламой и не преследует коммерческих целей.</p>
    </div>

</footer>
</body>
</html>